@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


/*header*/

body{
    text-align: center;
}

#Nametitle{
    margin:0;
    font-family: 'Berkshire Swash', cursive;
    font-size: 3.5rem;
}

#Titlesubtext{
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}

.home-hero{
    background-position: top;
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/06/Free-Minimal-HD-Wallpapers-For-Desktop.png');
    padding: 20em 0;
    background-repeat: no-repeat;
/*    background-size: 100% ;*/
    background-size:cover;
    color:beige;
/*    background-attachment: fixed;*/
}

/*About me section*/

.home-about{
    padding: 2em;
    padding-bottom: 15em ;
}

.home-about-textbox{
    background-color: #2323;
    padding: 7em; 
        
}


#Who{
    margin:0;
    padding: 1em 0;
    font-family: 'Josefin Sans', sans-serif;

}

#who-text{
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
}

/*transition*/
.parallax--bg{
    transition: initial;
}

/*Skill section*/
.skills{
    padding: 20em 0;
    background-image: url('https://wallup.net/wp-content/uploads/2016/01/257274-Earth-stars-space-minimalism.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
        
}

#skillset{
    padding: 1em;
}


/*rando*/
.rando{
    padding: 10em;
}




