@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Sriracha');


* {
    margin: 0;
    padding: 0;
}
/*header*/

body{
    text-align: center;
}

#Nametitle{
    margin:0;
    font-family: 'Berkshire Swash', cursive;
    font-size: 4rem;
}

#Titlesubtext{
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
}

.home-hero{
    background-position: top;
    background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/06/Free-Minimal-HD-Wallpapers-For-Desktop.png');
    padding: 20em 0;
    background-repeat: no-repeat;
/*    background-size: 100% ;*/
    background-size:cover;
    color:beige;
/*    background-attachment: fixed;*/
}

/*About me section*/

.home-about{
    padding: 2em;
/*    padding-bottom: 10em ;*/
}

.img-circle {
    border-radius: 50%;
    width: 40%;  
    height: auto;
    
}

.home-about-textbox{
    background-color: #2323;
    padding: 7em; 
        
}


#Who{
    margin:0;
    padding: 1em 0;
    font-family: 'Josefin Sans', sans-serif;

}

#who-text{
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
}

/*transition*/
.parallax--bg{
    transition: initial;
}

/*Filler*/
.fillerz{
/*    background-image: url('https://wallup.net/wp-content/uploads/2016/01/257274-Earth-stars-space-minimalism.jpg');*/
    background-image: url('https://images3.alphacoders.com/621/621682.jpg');
    padding: 17em 0;
    background-position: center;
}


/*Skill section*/
.skills{
    padding: 5em 0;
/*    background-image: url('https://wallup.net/wp-content/uploads/2016/01/257274-Earth-stars-space-minimalism.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
        
}

#skillset{
    padding: 1em;
}


/*rando*/
.rando{
    padding: 5em;
}


/*------------------------Skills------------------------*/
#hoverLinks{
    text-decoration: none;
    list-style: none;
    text-align: center;  
    position: relative;
    padding: 5em;
}

#PortfolioInfo {
    background-color:#eee;
    text-align:center;
    padding:5em;
    width:100%;
    height:100%;
    color:#333;
    font-weight:bold;
    border-radius:5px;
    margin-right:50px;
/*    font-family: 'Josefin Sans', sans-serif;*/
        font-family: 'Unica One', cursive;
}
#PortfolioInfo>* {
    display:none;
}

.list li a{
    font-size: 20px;
/*    font-family: 'Josefin Sans', sans-serif;*/
/*        font-family: 'Marck Script', cursive;*/
     font-family: 'Unica One', cursive;
    color:black;
    transition: 0.3s;
    font-size: 30px;
}

.list a:hover {
    text-decoration: none;
    list-style: none;
    text-align: center;  
    position: relative;
/*    color:white;*/
    color:cornflowerblue;
}

#test{
    margin: 30px;
}

.listA  li{
    list-style: none;
    padding: 1em;
}

#Subhead1{
    font-family: 'Cookie', cursive;
    font-size: 30px;
    
}

